* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}


.h2 {
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase
}
#graphic svg {overflow: inherit;}

.button {		
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-family: SourceSansPro-Light;
	font-weight: 900;
	outline: none;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	width:fit-content;
	height: 30px;
}
.github{color: #fff; background: #000;}
.github:hover {color: #fff; background: #343a40}
.db {color: #33a667; background: #33a66730;}
.db:hover {color: #33a667;  background: #33a6674f;}
.faq {color: #000; background: #e87c0d30;}
.faq:hover {color: #000;  background: #f1850052;}

h5.answer {
    color: blue;
}
a {
	outline: none;
	text-decoration: none
}

a:focus {
	outline: none
}

img {
	height: auto;
	outline: none;
	border-style: none
}

html,
body {
	height: 100%
}

body {
	background: #fff !important;
	color: #333333;
	font-family: SourceSansPro-Light;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding-bottom: 0;
	overflow-x: hidden;
	text-rendering: optimizeLegibility
}

img {
	max-width: 100%;
	height:fit-content;
    width:fit-content;
}


.header {
	background: #ffffff;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
	height: 60px;
	padding-top: 14px;
	position: relative;
	z-index: 1
}

@media only screen and (max-width: 768px) {
	.header {
		z-index: 100
	}
}

.continer-large {
	max-width: 98%;
	margin: auto;
	width: 1360px
}

@media only screen and (max-width: 768px) {
	.header .continer-large {
		max-width: 100%;
		padding: 0 40px
	}
}

@media only screen and (max-width: 767px) {
	.header .continer-large {
		padding: 0 20px
	}
}

.logo-widya {
	float: left
}

.nav-top {
	float: right;
}

@media only screen and (max-width: 768px) {
	.nav-top {
		display: none
	}
}

.nav-top>ul {
	margin: 5px 0 0
}
.row{padding : 40px 0 60px 0;}
.nav-top li {
	float: left;
	list-style-type: none;
	padding: 0 10px
}
.clearfix li{

	border-right: 1px solid #eee;
}

.nav-top li:last-child{

	border-right: none;
}

.nav-top a:not([class*="button-"]) {
	color: #007cff;
	font-weight: 200;
	line-height: 22px;
	text-transform: uppercase;
	vertical-align: middle;
}

.nav-top a:not([class*="button-"]):hover {
	text-decoration: underline
}

.hero-section {
	background: #fff;
	max-height: 666px;
	overflow: hidden;
	padding-left: calc((100% - 1220px)/2);
	position: relative;
	width: 100%
}

@media only screen and (max-width: 1250px) and (min-width: 1025px) {
	.hero-section {
		padding-left: 40px
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.hero-section {
		max-height: 655px;
		padding-left: 15px
	}
}

